@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

a{
    position: relative;
}

.btn{
    padding: 14px 29px;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
}

/* NAV HOVER EFFECTS */

.link-hover--effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: black;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link-hover--effect--white:after{
    background-color: white;
}

.link-hover--effect--black:after{
    background-color: black;
}

.link-hover--effect:hover:after{
    width: 100%;
    left: 0;
}


/* NAVIGATION */

nav{
    background-color: #ffe26a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.logo-wrapper{

    width: 160px;
}

.logo-wrapper__img{
    width: 100%;
    
}

.nav-list{
    display: flex;
}

.nav-list__link{
    margin: 0 12px;
}

.nav-list__link__anchor{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.contact-btn{
    background-color: #000;
    color: #ffe26a;
    border-color: transparent ;
    box-shadow: none;
}

.contact-btn:hover{
    cursor: pointer;
    background-color: #000;
    color: #ffe26a;
}

.contact-btn:active{
    transform: scale(1.1);
}


/* HEADER */

.landing-page{
    background-image: url(/assets/landing-page.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.landing-page__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.landing-page__title{
    font-size: 160px;
    margin-bottom: 40px;
    text-align: left;
    line-height: 1;
    color: #ffe26a;
    text-align: center;
}

.landing-page__para{
    font-size: 20px;
    line-height: 2;
    /* max-width: 500px; */
    color: #ffe26a;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.landing-page__btn{
    padding: 14px 29px;
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #ffe26a;
    color: #000;
    border-color: transparent ;
    box-shadow: none;
    transition: all 300ms ease;
}

.landing-page__btn:hover{
    cursor: pointer;
    background-color: #000;
    color: #ffe26a;
}

.landing-page__btn:active{
    transform: scale(1.1);
}


/* ABOUT SECTION */

#about{
    width: 100%;
    /* max-width: 1200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe26a;
}

.about__title{
    font-size: 72px;
    margin: 0 auto;
    text-align: start;
    color: #000;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 24px;
    }

.about__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__para{
    text-align: justify;
    text-justify: inter-word;
}

.about__wrapper{
    width: 40%;
    border-radius: 3px;
    
}

.about__wrapper__img{
    width: 100%;
    border-radius: 80px;
}

.about__details{
    width: 60%;
    max-width: 560px;
    margin: 36px 0 36px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__details__para{
    color: rgb(128, 126, 126);
    font-size: 24px;
    line-height: 1.7;
}
